<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Angular + CravlerRemoteBundle">
    <meta name="author" content="Sergei Vizel">

    <title>CravlerChatBundle</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <link rel="stylesheet" href="{{ asset('bundles/cravlerchat/css/app.css') }}">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.1/jquery.nicescroll.min.js"></script>
    <script src="http://{{ app.request.host }}:{{ cravler_remote_config_app_port }}/browser.js"></script>
    <script src="{{ asset('bundles/cravlerchat/js/app.js') }}"></script>
    <script src="{{ asset('bundles/cravlerchat/js/services.js') }}"></script>
    <script src="{{ asset('bundles/cravlerchat/js/controllers.js') }}"></script>
    <script src="{{ asset('bundles/cravlerchat/js/filters.js') }}"></script>
    <script src="{{ asset('bundles/cravlerchat/js/directives.js') }}"></script>
    <script type="text/javascript">

        CravlerRemote.init({
            url: 'http://{{ app.request.host }}:{{ cravler_remote_config_app_port }}',
            session: '{{ app.session.id }}',
            rooms: {% render controller("CravlerRemoteBundle:Remote:rooms", { "request": app.request }) %},
            token: function(data, callback) {
                jQuery.ajax({
                    type: "POST",
                    url: '{{ path('cravler_remote_token') }}',
                    data: data
                }).done(function(token) {
                    callback(token);
                });
            }
        });

    </script>
</head>

<body class="flat" ng-init="loadScopes()">

{% block body %}{% endblock body %}

<div class="white-backdrop"><!-- empty --></div>

</body>
</html>